* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #003cff;
}

.parent{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.todoList{
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  padding: 16px;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}